{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for service in services reversed %}
      <div class="col-md-4 mb-4">
        <div class="service-item">
          <h2 class="section-heading mb-2">{{ service.title }}</h2>
          {% if service.image %}
            <img class="img-fluid rounded" src="{{ service.image.url }}" alt="{{ service.title }}">
          {% endif %}
          <div class="service-content">
            <p class="mb-0">{{ service.content | linebreaksbr }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}